# Testing
pytest==8.2.1
pytest-cov==5.0.0

# Linting and Code Formatting
flake8==7.0.0
black==24.4.2
isort==5.13.2

# Environment Management
pre-commit==3.7.0

# Type Checking (optional but recommended)
mypy==1.10.0

# Notebook Utilities
nbqa==1.8.5  # For running linters on Jupyter notebooks

# Git Hooks (for pre-commit config)
pyproject-flake8==7.0.0
